h1, h2, h3, h4, h5, h6, h7, p, ul, ol, dl, dt, dd, li, body, form, input, button, img, cite, strong, em {
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* 都转换为了ie盒模型  */
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #666666;
    line-height: 1.8;
    overflow-x: hidden;
    text-align: left;
    background-color: #fff;
    font-weight: 400;
}
a {
    color: #000;
    display: inline-block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
    outline: 0 !important;
}
a:hover{
    text-decoration: none;
}
p {
    margin-bottom: 15px;
}
